
body {
  position: absolute;
  min-height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-color: black;
}
#root {
  min-height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-color: black;
  padding: 5px;
}


.dashboard-data {
  background-color: #272C34;
  width: 98%;
  margin: 1% 1%;
  color: white;
  padding: 10px;
  border:solid #272C34 1px;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px 0 rgba(185, 183, 183, 0.2),0 1px 5px 0 rgba(161, 158, 158, 0.19) !important;
}

.detail-modal {
  position: absolute;
  top: 10%;
  left: 5%;
  width: 90%;
  height: auto;
  background-color: black ;
  z-index: 99;
  border: solid #519FE8 1px ;
  
}

.detail-modal-background {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}
td , tr {
  background-color: black !important;
  color: white !important;
}
th {
  background-color: black !important;
  color: #497EE1 !important;
}